/*here's our first go at css!*/
/*new properties for this assignment include columns -which was a pain-, text shadow, @media sizing, and background color! hope you enjoy :)*/


body {
    font-family: "poppins", sans-serif; 
    background-color: oldlace;
}
p {
    font-size:16px;
    margin-left: 60px;
    margin-right: 60px;
    margin-bottom: 15px;
    margin-top: 15px;
}

/*COLUMNS - NEW PROPERTY*/
* {
  box-sizing: border-box;
}
.column1 {
    float: left;
    width: 50%;
    padding: 10px;
    column-count: 2;
    column-width: 50px;
}
.column2 {
    float: right;
    flex: 50%;
    width: 50%;
    padding: 10px;
    column-count: 2;
    column-width: 50px;
}
.row {
    content: "";
    display: flex;
    clear: both;
    margin-top: 15px;
}

/*LISTS*/
ol, ul {
    color: maroon;
}
ul li {
    color: maroon;
}


/*LINKS*/
a {
    color:maroon;
    text-decoration: none;
}
a:hover {
    color:goldenrod;
    text-decoration: underline;
}


/*IMAGE AND TEXT HEADER*/
.header {
    position: relative;
    text-align: center;
    color: white;
    font-family: "poppins", sans-serif;
    font-size: 62pt;
}
.sunflowerheader {
    width: 100%;
}


/*TABLE*/
table {
    border: 3px solid maroon;
    border-collapse: collapse;
    padding: 10px;
}
th {
    color: goldenrod;
    border: 3px solid maroon;
    border-collapse: collapse;
    padding: 10px;
}
td {
    color: goldenrod;
    border: 3px solid maroon;
    border-collapse: collapse;
    padding: 10px;
}


/*HEADERS*/
h1, h2, h3, h4, h5, h6 {
    color:lightpink;
}
h1 {
    font-size: 48pt;
    color: darkgoldenrod;
}
h2 {
    font-size: 30pt;
    color: goldenrod;
    text-shadow: 2px 2px maroon;
}
h3 {
    font-size: 24pt;
    color: gold;
    text-shadow: 2px 2px indianred;
}
h4 {
    font-size: 24pt;
    color: palegoldenrod;
}
h5 {
    font-size: 24pt;
}
h6 {
    font-size: 24pt;
}


/* CLASSES */
.center {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
.paragraph {
    color: black;
}
.highlight {
    background-color: darkgoldenrod;
}



@media (max-width: 991px) {
    h2 {
        font-size: 16pt;
        color: goldenrod;
        text-shadow: 2px 2px maroon;
    }
    ol, ul {
        color: maroon;
        font-size: 12pt;
    }
    ul li {
        color: maroon;
        font-size: 12pt;
    }
}